In [1]:
import numpy as np

crime_raw_data = pd.read_csv('./data/seoul_crime/2000년.csv', usecols=[0,1,2,3], encoding='euc-kr')

crime_raw_data.head()

   구분  죄종 발생검거  건수
0  중부  살인   발생   1
1  중부  살인   검거   1
2  중부  강도   발생  17
3  중부  강도   검거  15
4  중부  강간   발생  14

In [4]:
crime_station = crime_raw_data.pivot_table(crime_raw_data, index=['구분'], columns=['죄종','발생검거'], aggfunc=[np.sum])

crime_station.columns = crime_station.columns.droplevel([0,1,2])
crime_station.head()

발생검거  검거  발생  검거   발생  검거  발생   검거    발생    검거    발생
구분
강남    70  78  72  146   4   3  523  2653  4345  4892
강동    58  62  40   49  11  12  671  1838  4333  4716
강북    48  47  48   47   8   9  458   859  3446  3624
강서    64  75  55   75   7   6  509  1559  3988  4361
관악    44  59  36   56   7   8  349  1764  2658  2921